# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env

# Generated gRPC code (Should be compiled on build, not committed)
*intent_service_pb2.py
*intent_service_pb2_grpc.py

# IDE / Editor configurations
.vscode/
.idea/
*.swp
*.swo

# Docker logs
*.log
